extends layout

block content
    div.container
        h1= title
        p Welcome to #{title}!

        p Enter the nickname (e.g. Lakers, etc.) of an NBA and/or NHL team to see today's scores for that team.
        form(name="getScores", action="/scores", method="get")
            p NBA:
            input(type="text", name="NBA")
            p NHL:
            input(type="text", name="NHL")
            p EPL:
            input(type="text", name="EPL")
            br
            br
            input(type="submit", value="Get Scores!")


