body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

table {
    margin: 0 auto;
}

tr {
    width: 500px;
}
td {
    width: 110px;
    text-align: center;
    vertical-align: middle;
}
td#score {
    font-size: 25px;
    font-weight: bold;
    width:150px;
}

img {
    height: 80px;
    width: 80px;
}

.container {
    width:80%;
    margin: 0 auto;
}