body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

table {
    margin: 0 auto;
}

tr {
    width: 500px;
}
td {
    width: 100px;
    text-align: center;
    vertical-align: middle;
}
td.score {
    font-size: 20px;
    font-weight: bold;
    width:150px;
}

img {
    height: 75px;
    width: 75px;
}

h2.sport-header {
    text-align: center;
    margin-bottom: 0;
}
.container {
    width:70%;
    margin: 0 auto;
}

.sport-section {
    width:100%;
    border: 1px solid black;
}
.sport-section#NBA {
    /*background-color: #990000;*/
}
.sport-section.scores {
    width:30%;
}